@using KattaTeknologiskFestival.Data
@using Microsoft.EntityFrameworkCore
@using KattaTeknologiskFestival.Interfaces
@using Microsoft.AspNetCore.Hosting
@inject kftDbContext _db;
@inject ICalendarEventsInterface iCalendarEventsInterface;
@inject IWebHostEnvironment WebHostEnvironment;
@inject NavigationManager urihelper;

<!--her er en liste over alle eventene-->
<div class="ms-depth-16" style="height: 100%;">
    <div class="card-content">
        <h3 class="ms-fontSize-22 ms-fontWeight-regular">@SelectedDay.Date.ToString("D")</h3>
        @{
            if (SelectedDay.Events == null || SelectedDay.Events.Count == 0)
            {
                <h3 class="ms-fontSize-14 ms-fontWeight-regular">Ledig hele dagen!</h3>
            }
            else
            {
                @foreach (var item in SelectedDay.Events)
                {
                    string colorClass = item.Color;
                    <div class="event shadow-effect @colorClass">
                        <h3 class="ms-fontSize-14 ms-fontWeight-regular">@item.StartDate.ToString("HH:mm") --> @item.EndDate.ToString("HH:mm")</h3>
                        <p class="ms-fontSize-11 ms-fontWeight-regular">@item.Subject</p>
                    </div>
                }
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public int RoomId { get; set; }

    [Parameter]
    public CalendarDay SelectedDay { get; set; }

    public List<CalandarEvent> dayEvent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if(RoomId != 0)
        {
            SelectedDay.Events = await iCalendarEventsInterface.GetAllComponentsByRoomAsync(RoomId).ConfigureAwait(false);
        }

    }
}
