@using KattaTeknologiskFestival.Data
@using Microsoft.EntityFrameworkCore
@using KattaTeknologiskFestival.Interfaces
@using Microsoft.AspNetCore.Hosting
@inject kftDbContext _db;
@inject IRoomInterface iRoomInterface;
@inject IActivitiesInterface iActivitiesInterface;
@inject IEqiupmentInterface iEqiupmentInterface;
@inject IWebHostEnvironment WebHostEnvironment;
@inject NavigationManager urihelper;
@page "/"

<div class="pc">
    <section>
        <div id="triangle"></div>
        <div id="line"></div>
        <div>
            <div class="parent Header">
                <!---->
                <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="#009D4F" class="bi bi-controller" viewBox="0 0 16 16">
                    <path d="M11.5 6.027a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-1.5 1.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm2.5-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-1.5 1.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm-6.5-3h1v1h1v1h-1v1h-1v-1h-1v-1h1v-1z" />
                    <path d="M3.051 3.26a.5.5 0 0 1 .354-.613l1.932-.518a.5.5 0 0 1 .62.39c.655-.079 1.35-.117 2.043-.117.72 0 1.443.041 2.12.126a.5.5 0 0 1 .622-.399l1.932.518a.5.5 0 0 1 .306.729c.14.09.266.19.373.297.408.408.78 1.05 1.095 1.772.32.733.599 1.591.805 2.466.206.875.34 1.78.364 2.606.024.816-.059 1.602-.328 2.21a1.42 1.42 0 0 1-1.445.83c-.636-.067-1.115-.394-1.513-.773-.245-.232-.496-.526-.739-.808-.126-.148-.25-.292-.368-.423-.728-.804-1.597-1.527-3.224-1.527-1.627 0-2.496.723-3.224 1.527-.119.131-.242.275-.368.423-.243.282-.494.575-.739.808-.398.38-.877.706-1.513.773a1.42 1.42 0 0 1-1.445-.83c-.27-.608-.352-1.395-.329-2.21.024-.826.16-1.73.365-2.606.206-.875.486-1.733.805-2.466.315-.722.687-1.364 1.094-1.772a2.34 2.34 0 0 1 .433-.335.504.504 0 0 1-.028-.079zm2.036.412c-.877.185-1.469.443-1.733.708-.276.276-.587.783-.885 1.465a13.748 13.748 0 0 0-.748 2.295 12.351 12.351 0 0 0-.339 2.406c-.022.755.062 1.368.243 1.776a.42.42 0 0 0 .426.24c.327-.034.61-.199.929-.502.212-.202.4-.423.615-.674.133-.156.276-.323.44-.504C4.861 9.969 5.978 9.027 8 9.027s3.139.942 3.965 1.855c.164.181.307.348.44.504.214.251.403.472.615.674.318.303.601.468.929.503a.42.42 0 0 0 .426-.241c.18-.408.265-1.02.243-1.776a12.354 12.354 0 0 0-.339-2.406 13.753 13.753 0 0 0-.748-2.295c-.298-.682-.61-1.19-.885-1.465-.264-.265-.856-.523-1.733-.708-.85-.179-1.877-.27-2.913-.27-1.036 0-2.063.091-2.913.27z" />
                </svg>
                <h2>Katta Teknologiske Festival</h2>
                <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="#009D4F" class="bi bi-cpu" viewBox="0 0 16 16">
                    <path d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0zm-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3h-7zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
                </svg>
            </div>
        </div>
    </section>

    <section>
        <h1 class="info-Header" data-aos="fade-right">Hva er Katta Teknologiske Festival?</h1>
        <p class="info-p" data-aos="fade-left">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget semper odio, at vulputate lectus. Donec blandit consequat lorem, in sollicitudin erat convallis at. Aenean faucibus nec nisl et elementum. Quisque sit amet turpis turpis. Etiam consequat efficitur molestie. Sed tempor enim non varius tristique. Ut non dolor faucibus enim faucibus fermentum at nec tellus. Mauris porta nulla at mi feugiat, nec pretium odio luctus.
        </p>
    </section>
    <section id="List">
        <div class="cntainer">
            <h1 class="dont-center padding-bottom-M f-500" data-aos="zoom-out">Meld deg på aktiviteter eller sett av rom og utstyr</h1>
            <div class="table-grid" data-aos="fade-left">
                @{
                    if (table == 1)
                    {
                        <div class="boardActive"><a @onclick="() => changeTable(1)"><p class="pointer">Aktiviteter</p></a></div>
                        <div><a @onclick="() => changeTable(2)"><p class="pointer">Rom</p></a></div>
                        <div><a @onclick="() => changeTable(3)"><p class="pointer">Utstyr</p></a></div>
                    }
                    if (table == 2)
                    {
                        <div><a @onclick="() => changeTable(1)"><p class="pointer">Aktiviteter</p></a></div>
                        <div class="boardActive pointer"><a @onclick="() => changeTable(2)"><p class="pointer">Rom</p></a></div>
                        <div><a @onclick="() => changeTable(3)"><p class="pointer">Utstyr</p></a></div>
                    }
                    if (table == 3)
                    {
                        <div><a @onclick="() => changeTable(1)"><p class="pointer">Aktiviteter</p></a></div>
                        <div><a @onclick="() => changeTable(2)"><p class="pointer">Rom</p></a></div>
                        <div class="boardActive pointer"><a @onclick="() => changeTable(3)"><p class="pointer">Utstyr</p></a></div>
                    }

                }
            </div>

            <div class="line-bottom"></div>
            @if (table == 1)
            {<TableGrid grid1="Aktivitet" grid9="Påmeldte" grid10="Rom" />}
            @if (table == 2)
            {<TableGrid grid1="Rom" grid5="Status" />}
            @if (table == 3)
            {<TableGrid grid1="Utstyr" grid5="Opptatt Utstyr" />}

            <div>
                @if (table == 1)
                {
                    if (activities != null)
                    {
                        foreach (var a in activities)
                        {
                            var b = a.TakenSpots + " / " + a.AvailableSpots;

                            <div data-aos="fade-left" @onclick="() => inspectItem(1, a.Id)"><Activity_card Class1="dont-center p-l-40" Class2="no-break" Link="#" grid1="@a.Name" grid9="@b" grid10="@a.RoomId.ToString()" /></div>
                        }
                    }
                }
                @if (table == 2)
                {
                    if (rooms != null)
                    {
                        foreach (var r in rooms)
                        {
                            var b = "";
                            if (r.RoomTaken) { b = "Opptatt"; } else { b = "Ledig"; }
                            <div data-aos="fade-left" @onclick="() => inspectItem(2, r.RoomId)"><Activity_card Link="#" grid1="@r.RoomId.ToString()" grid5="@b" /></div>
                        }
                    }
                }
                @if (table == 3)
                {
                    if (equipments != null)
                    {
                        foreach (var e in equipments)
                        {
                            var b = e.TakenUnits + " / " + e.AvailableUnits;
                            <div data-aos="fade-left" @onclick="() => inspectItem(3, e.Id)"><Activity_card Link="#" grid1="@e.Name" grid5="@b" /></div>
                        }
                    }
                }

            </div>
        </div>
    </section>
</div>
<div class="mobile">
    <section>
        <div id="mobile-header-img"></div>
        <div class="center-grid">
            <div class="parent-mobile">
                <!---->
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#009D4F" class="bi bi-controller" viewBox="0 0 16 16">
                    <path d="M11.5 6.027a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-1.5 1.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm2.5-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-1.5 1.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm-6.5-3h1v1h1v1h-1v1h-1v-1h-1v-1h1v-1z" />
                    <path d="M3.051 3.26a.5.5 0 0 1 .354-.613l1.932-.518a.5.5 0 0 1 .62.39c.655-.079 1.35-.117 2.043-.117.72 0 1.443.041 2.12.126a.5.5 0 0 1 .622-.399l1.932.518a.5.5 0 0 1 .306.729c.14.09.266.19.373.297.408.408.78 1.05 1.095 1.772.32.733.599 1.591.805 2.466.206.875.34 1.78.364 2.606.024.816-.059 1.602-.328 2.21a1.42 1.42 0 0 1-1.445.83c-.636-.067-1.115-.394-1.513-.773-.245-.232-.496-.526-.739-.808-.126-.148-.25-.292-.368-.423-.728-.804-1.597-1.527-3.224-1.527-1.627 0-2.496.723-3.224 1.527-.119.131-.242.275-.368.423-.243.282-.494.575-.739.808-.398.38-.877.706-1.513.773a1.42 1.42 0 0 1-1.445-.83c-.27-.608-.352-1.395-.329-2.21.024-.826.16-1.73.365-2.606.206-.875.486-1.733.805-2.466.315-.722.687-1.364 1.094-1.772a2.34 2.34 0 0 1 .433-.335.504.504 0 0 1-.028-.079zm2.036.412c-.877.185-1.469.443-1.733.708-.276.276-.587.783-.885 1.465a13.748 13.748 0 0 0-.748 2.295 12.351 12.351 0 0 0-.339 2.406c-.022.755.062 1.368.243 1.776a.42.42 0 0 0 .426.24c.327-.034.61-.199.929-.502.212-.202.4-.423.615-.674.133-.156.276-.323.44-.504C4.861 9.969 5.978 9.027 8 9.027s3.139.942 3.965 1.855c.164.181.307.348.44.504.214.251.403.472.615.674.318.303.601.468.929.503a.42.42 0 0 0 .426-.241c.18-.408.265-1.02.243-1.776a12.354 12.354 0 0 0-.339-2.406 13.753 13.753 0 0 0-.748-2.295c-.298-.682-.61-1.19-.885-1.465-.264-.265-.856-.523-1.733-.708-.85-.179-1.877-.27-2.913-.27-1.036 0-2.063.091-2.913.27z" />
                </svg>
                <h2 class="mobile-header">Katta Teknologiske Festival</h2>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#009D4F" class="bi bi-cpu" viewBox="0 0 16 16">
                    <path d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0zm-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3h-7zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
                </svg>
            </div>
        </div>
    </section>
    <section>
        <h1 class="info-Header-mobile">Hva er Katta Teknologiske Festival?</h1>
        <p class="info-p-mobile">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget semper odio, at vulputate lectus. Donec blandit consequat lorem, in sollicitudin erat convallis at. Aenean faucibus nec nisl et elementum. Quisque sit amet turpis turpis. Etiam consequat efficitur molestie. Sed tempor enim non varius tristique. Ut non dolor faucibus enim faucibus fermentum at nec tellus. Mauris porta nulla at mi feugiat, nec pretium odio luctus.
        </p>
    </section>
</div>

@code {
    public int table = 1;
    public int activeTable { get; set; }

    public string urlA = "/Aktivitet";

    private List<Room> rooms;
    private List<Equipment> equipments;
    private List<Activitie> activities;

    protected override async Task OnInitializedAsync()
    {
        rooms = await iRoomInterface.GetAllComponentsAsync().ConfigureAwait(false);
        equipments = await iEqiupmentInterface.GetAllComponentsAsync().ConfigureAwait(false);
        activities = await iActivitiesInterface.GetAllComponentsAsync().ConfigureAwait(false);
    }

    public void changeTable(int id)
    {
        table = id;
    }

    public void inspectItem(int table, int id)
    {
        if (table == 1)
            urihelper.NavigateTo(urlA + "/" + id);
    }

}
